@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s ease all;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: rgb(215, 213, 213);
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --primary: rgb(104, 5, 104);
  --white: rgb(255, 250, 250);
  --hover: rgb(66, 4, 66);
}

.dark-mode {
  --background: rgb(28, 28, 28);
  --shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.3) 0px 3px 6px;
  --primary: rgb(130, 2, 111);
  --white: rgb(0, 0, 0);
  --hover: rgb(63, 2, 54);
}

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

body {
  background-color: var(--background);
}
